h2 {
    color: #000;
}
#description {
    width: 66%;
    margin-left: 16.6666%;
}
#contactus {
    width: 50%;
    margin-left: 25%;
    background: #707070;
    text-align: left;
}
#submit_button {
    margin: 1em;
}