#Container {
    display: table;
    width: 100%;
    background-color: lightblue;

}
.Quarter {
    display: table-cell;
    background: url('resources/cogwheels_gold.png');
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.Countdown {
    font-size: 400%;
    width: 100%;
    margin-left: 0%;
}
p {
    margin-left: 25%;
    width: 50%;
}