body {
    font-size: 200%;
    color: #fff;
}
ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}
#container {
    background-color: #707070;
    display: inline-block;
    padding: 0 1em 0 1em;
    height: 100%;
}